html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    font-size: 3em; /* 文字サイズを大きく */
}

h2 {
    color: #333;
}

button {
    display: block;
    margin: 10px auto;
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#selectYourCharacter{
    font-size: 50px;
    margin-bottom: 10px;
    color: #ffffff;
}

#character-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.character {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
}

.character img {
    width: 500px;
    height: 500px;
}

#selectYourCharacter {
    margin-top: 20px; /* 適切な間隔を調整 */
}


.character-name {
    font-size: 50px; /* フォントサイズを倍に */
    font-weight: bold;
    color: #ffffff;
    margin-bottom: -10px;
}

.character-skill {
    font-size: 20px; /* スキルの説明文のフォントサイズ */
    margin-top: 0px;
}

/* グラフの設定 */
#result-chart {
    max-width: 90%;
    height: 80vh; /* 高さを画面の80%に設定 */
    margin: 20px auto;
    color: #ffffff; /* テキストの色をホワイトに */
}

#final-cp {
    font-size: 68px;
    font-weight: bold;
    margin-top: 20px;
    color: #ffffff; /* テキストの色をホワイトに */
}


#game-screen button {
    width: 80%;
    max-width: 1000px;
}

/* カウントダウンのスタイル */
#countdown {
    font-size: 400px; /* フォントサイズを大きく */
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.8), 0 0 20px rgba(255, 234, 41, 1), 0 0 30px rgb(174, 0, 255); /* テキストシャドウを追加 */ /* テキストシャドウを追加 */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, rgb(238, 71, 71), rgb(185, 63, 210),rgb(238, 71, 71));


    min-height: 100vh;
    overflow-x: hidden; /* 横スクロールを防止 */
}

#logo {
    width: 800px; /* ロゴの幅を設定 */
    height: auto; /* 高さは自動 */
    display: block; /* ブロック要素に */
    margin: 0 auto; /* 中央寄せ */
}

#title-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#character-image {
    width: 500px;  /* 画像の幅を500ピクセルに設定 */
    height: auto;  /* 高さは自動（元のアスペクト比を保つ） */
    margin-top: 20px;
}

.syc{
    color: #ffffff;
}

.fin{
    color: #ffffff;
    font-size: 80px;
}

#score{
    font-size: 100px;
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 204, 255); /* ピンク色 */
    padding: 20px;
    border-radius: 10px; /* 角丸 */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* 影 */
    z-index: 9999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* フォント */
    font-weight: bold; /* 太字 */
    color: rgb(102, 0, 102); /* テキストカラーを紫色に変更 */
}


#player-name {
    font-size: 20px; /* フォントサイズを20pxに設定 */
    padding: 20px; /* 上下左右の余白を10pxに設定 */
    width: 300px; /* 幅を300pxに設定 */
    margin-top: 20px;
}

.character-skill {
    font-size: 40px; /* 文字の大きさを変更 */
    font-weight: bold; /* 太字にする */
    color: rgb(0, 0, 0); /* テキストの色を変更 */
    line-height: 1; /* 行間を詰める */
    padding: 1rem 2rem;
    border-top: 6px double #fc4242;
    background: #ffe16758;
    
}


.character-skill span {
    font-weight: normal; /* スパン内のテキストを太字解除 */
    color: #ffffff; /* スパン内のテキストの色を変更 */
    font-size: 35px;
}

.result-screen2{
    margin-bottom: 20px;

}


/* 吹き出し本体 */
#character-dialogue {
    position: relative;
    padding: 0.25em 1em;
    color: #000000;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    width: 500px; /* 幅を500ピクセルに設定 */
    font-size: 30px;
    font-weight: bold;
    margin-top: 1%;
    margin-left:  auto; /* 吹き出し全体を中央に配置 */
    margin-right:  auto;
}

#character-dialogue::after {
    position: absolute;
    top: -9px; /* 吹き出しの上に配置 */
    left: 20px; /* 三角形を左にずらす */
    width: 0;
    height: 0;
    content: '';
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent; /* 三角形の色を設定 */
}

/* 親要素にフレックスボックスを適用 */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* 中央揃え */
    gap: 5px; /* ボタン間のスペース */
    margin-top: 20px; /* 必要に応じて調整 */
}

/* ボタンのスタイル */
.title-button {
    background: linear-gradient(to bottom, #ff6f61, #ff4c4c); /* 明るい赤から濃い赤へのグラデーション */
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    padding: 15px 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    text-decoration: none;
    width: 400px; /* ボタンの幅を固定 */
}

.title-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.title-button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#ready-button {
    background: linear-gradient(to bottom, #1abc9c, #16a085); /* 明るい緑から濃い緑へのグラデーション */
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 40px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    text-decoration: none;
}

#ready-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

#ready-button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* ボタンのスタイル */
button {
    /* 他のスタイル */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 影を追加 */
    transition: transform 0.3s, box-shadow 0.3s; /* ホバー時にも影の変化をアニメーション化 */
}

#multiply-button {
    background-color: #ff9500; /* オレンジを少し濃く */
    border-color: #ff9500;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
}

#trade-button {
    background-color: #4cd964; /* ミントグリーンを少し濃く */
    border-color: #4cd964;
    margin: 10px;
    font-size: 35px;
}

#skill-button {
    background-color: #ff3b30; /* ピンクを少し濃く */
    font-size: 35px;
    margin: 10px;
    border-color: #ff3b30;
}

#click-button {
    background-color: #5ac8fa; /* ライトブルーを少し濃く */
    font-size: 35px;
    border-color: #5ac8fa;
}

button:hover {
    /* 他のホバースタイル */
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1), 0 0 20px rgba(255, 255, 255, 0.2); /* 光彩を追加 */
}

#multiply-button:hover {
    background-color: #ff7300; /* ホバー時の背景色をダークオレンジに変更 */
}

#trade-button:hover {
    background-color: #34bfa3; /* ホバー時の背景色をミディアムアクアマリンに変更 */
}

#skill-button:hover {
    background-color: #ff375f; /* ホバー時の背景色をミディアムピンクに変更 */
}

#click-button:hover {
    background-color: #4ea8de; /* ホバー時の背景色をスカイブルーに変更 */
}


#tweet-button,
#back-to-title-button {
    background: linear-gradient(to bottom, #5392ff, #1f71ff); /* 明るい赤から濃い赤へのグラデーション */
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    padding: 15px 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    text-decoration: none;
    width: 400px; /* ボタンの幅を固定 */
}

#tweet-button:hover,
#back-to-title-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

#tweet-button:active,
#back-to-title-button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#Win{
    font-size: 100px;
    color: darkturquoise;
}